table{
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}
table thead th, table tbody td{
    padding: 10px 20px;
}
table thead tr{
    background-color: lightgreen;
}
table tbody tr{
    border-bottom: 1px solid grey;
}
table tbody tr:nth-of-type(even){
    background-color: aqua;
}
table tbody tr:last-of-type{
    border-bottom: 2px solid green;
}